{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12 pb-3 pt-3" style="border-bottom: 1px solid #dee2e6">
    {% if object.name %}
      <h3>Hi {{ object.name }}, please choose if you wish to consult or update your info or your mail.</h3>
    {% else %}
      <h3>Hi {{ object.username }}, please choose if you wish to consult or update your info or your mail.</h3>
    {% endif %} 
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 pt-3">
    <a class="btn btn-danger" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-danger" href="{% url 'account_email' %}" role="button">E-Mail</a>
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

